ion-content div{
    background-color: rgb(54, 138, 138);
}

h1{
    font-weight: 600;
    text-align: center;
}

.header{
    margin-left: -40px;
}

p{
    font-size: 18px;
}

strong{
    font-size: 20px;
}

li{
    font-size: 18px;
}